@import url("/css/toast.css");

* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.header {
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #00000050;

  .logo {
    width: 32px;
  }

  .header-container {
    justify-self: flex-end;
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 0.5rem;
  }

  .profile-image {
    width: 25px;
    height: 25px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
  }
}

.label {
  position: relative;
  font-size: 0.8rem;
  font-style: italic;
  bottom: -0.5rem;
}

.btn {
  display: block;
  padding: 0.75rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;

  &.auth {
    background-image: linear-gradient(to right, #026c9e, #00426b);
  }

  &.primary {
    background-color: #026c9e;
    color: white;
    &:hover {
      background-color: #015b85;
    }
  }

  &.second,
  &.third {
    padding: 0.5rem;
    border: 1px solid #999;
    background-color: #00000010;
    color: black;
    &:hover {
      background-color: #00000030;
    }
  }

  &.third {
    border-radius: 0.5rem;
  }

  &.warn {
    background-color: #ffeb56cf;
  }

  &.danger {
    background-color: #ff3737d2;
  }
}

.container-icon {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 0.5rem;
}

.container-card {
  display: block;
  height: auto;
  width: 15rem;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0px 4px 10px #00000020;
  text-decoration: none;
  .card {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 10rem;
      object-fit: cover;
      object-position: center;
    }
    .date {
      padding: 1rem;
      border-bottom: 1px solid #00000050;
      color: #00000080;
    }
    .title {
      padding: 1rem;
      color: black;
      font-weight: bold;
    }
    .description {
      padding: 0 1rem 1rem 1rem;
      color: black;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.input {
  padding: 0.5rem;
  border: none;
  &.auth {
    border-bottom: 1px solid #000;
    border-radius: 0.75rem;
    background-color: #00000010;
  }
  &.primary {
  }
  &.second {
    border: 1px solid #999;
    border-radius: 1rem;
    background-color: #00000010;
  }
  &.third {
    border: 1px solid #999;
    border-radius: 0.5rem;
    background-color: #00000010;
  }
}

button {
  cursor: pointer;
}

.icon {
  color: black;
  transition: 0.2s;
  border: none;
  background-color: transparent;

  &:hover {
    background-color: #00000010;
  }

  &.small {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}
a.link {
  color: #000;
  text-decoration: none;
  font-family: "Verdana", sans-serif;
}
