<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="shortcut icon" href="/img/logo.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <script
      src="https://kit.fontawesome.com/5684532330.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/searchFilter.js"></script>
  </head>
  <body>
    <header class="header">
      <img src="/img/logo.svg" class="logo" alt="" />
      <a href="login">login</a><br />
      <a href="signup">signup</a>
    </header>
    <main>
      <section>
        <div class="container-banner">
          <img class="banner" src="/img/arena_banner.svg" alt="" />
        </div>

        <div class="container-link">
          <h3>Venha conhecer a Arena de Pernambuco</h3>
          <button class="btn primary">Agendar visita</button>
        </div>

        <hr />

        <div class="container-link">
          <h3>Eventos</h3>
          <p>*Não encontrou o evento que queria? Nos envie uma sugestão!</p>
          <button class="btn primary">Enviar uma sugestão</button>
        </div>
        <hr />

        <div class="container-search-bar-and-filter">
          <input
            type="text"
            class="input second search-bar"
            placeholder="Pesquise por eventos"
          />
          <button class="btn second filter filter-button">
            <i class="fa-solid fa-filter"></i>
          </button>
        </div>

        <div class="container-filters">
          <p>*Escolha os filtros</p>
          <br />
          <button class="btn second filter">categoria</button>
          <button class="btn second filter">data</button>
        </div>

        <form class="filter-form">
          <p>*Insira os dados</p>
          <br />
          <input
            type="text"
            name=""
            id=""
            class="input second"
            placeholder=""
          />
          <button class="btn second">Salvar</button>
        </form>

        <div class="cards-event">
          <a
            class="container-card"
            th:each="card : ${cards}"
            th:href="@{/event/{event}(event=${card.title})}"
          >
            <div class="card">
              <div th:if="${card.imageBase64}">
                <img th:src="${card.imageBase64}" alt="" />
              </div>
              <div th:unless="${card.imageBase64}">
                <img src="/img/arena_banner.svg" alt="" />
              </div>
              <p
                th:text="${#dates.format(card.date, 'dd/MM/yyyy')}"
                class="date"
              ></p>
              <p th:text="${card.title}" class="title"></p>
              <p th:text="${card.description}" class="description"></p>
            </div>
          </a>
        </div>
      </section>
    </main>
  </body>
  <script>
    let filterButton = document.querySelector(".filter-button");
    let filtersContainer = document.querySelector(".container-filters");
    let filterForm = document.querySelector(".filter-form");

    setFilterElements(filterButton, filtersContainer, filterForm);
  </script>
</html>
